In [58]:
print('Hello world')

Hello world

In [59]:
1+1

2

In [60]:
result

501.0

In [61]:
1002/3.0

334.0

In [62]:
result = 1002/2.0

In [63]:
print(result)

501.0

In [64]:
s1 = 'Hello'
s2 = 'World'

In [65]:
print(s1)

Hello

In [66]:
print(s1 + " " + s2)

Hello World

In [67]:
full_word = s1 + " " + s2

In [68]:
print(full_word)

Hello World

In [69]:
print full_word

SyntaxError: Missing parentheses in call to 'print' (<ipython-input-69-b7a33c213ab6>, line 1)

In [71]:
print(full_word)

Hello World

In [72]:
def full_word(s1, s2):
    return s1 + ' ' + s2

In [73]:
full_word(s1, s2)

'Hello World'

In [74]:
full_word(football, game)

NameError: name 'football' is not defined

In [75]:
full_word('football', 'game')

'football game'

In [96]:
def full_word(s1, s2, s3=None):
    if s3 is None:
        return s1 + ' ' + s2
    else:
        return s1 + ' ' + s2 + ' ' + s3

In [97]:
full_word('football', 'game')

'football game'

In [98]:
full_word('football', 'game', 'gug')

'football game gug'

In [99]:
import math

In [100]:
math.ceil(123.4)

124

In [102]:
math.floor(123.4)

123

In [104]:
import pandas as pd
import matplotlib
%matplotlib inline

/Users/florianreheis/anaconda/lib/python3.6/site-packages/matplotlib/font_manager.py:280: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  'Matplotlib is building the font cache using fc-list. '

In [121]:
df = pd.read_csv('planets.tab', skiprows=406, delimiter='\t')

In [122]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3142 entries, 0 to 3141
Data columns (total 70 columns):
333                3142 non-null int64
HD 132406          3142 non-null object
b                  3142 non-null object
Radial Velocity    3142 non-null object
1                  3142 non-null int64
974.00000000       3087 non-null float64
39.00000000        2960 non-null float64
-39.00000000       2960 non-null float64
0                  3085 non-null float64
1.980000           1668 non-null float64
Unnamed: 10        846 non-null float64
Unnamed: 11        845 non-null float64
0.1                1666 non-null float64
0.340000           752 non-null float64
0.090000           542 non-null float64
-0.090000          542 non-null float64
0.2                750 non-null float64
Unnamed: 17        405 non-null float64
Unnamed: 18        385 non-null float64
Unnamed: 19        387 non-null float64
Unnamed: 20        407 non-null float64
5.61000            939 non-null float64
Unnamed: 22        801 non-null float64
Unnamed: 23        801 non-null float64
0.3                939 non-null float64
Msini              939 non-null object
Unnamed: 26        2614 non-null float64
Unnamed: 27        2581 non-null float64
Unnamed: 28        2581 non-null float64
Unnamed: 29        2614 non-null float64
Unnamed: 30        312 non-null float64
Unnamed: 31        304 non-null float64
Unnamed: 32        304 non-null float64
Unnamed: 33        311 non-null float64
0.4                3142 non-null int64
0.5                3142 non-null int64
0.6                3142 non-null int64
0.7                3142 non-null int64
14h56m54.65s       3142 non-null object
224.227707         3142 non-null float64
+53d22m55.8s       3142 non-null object
53.382168          3142 non-null float64
70.97              2080 non-null float64
3.68               1989 non-null float64
-4.10              1989 non-null float64
0.8                2073 non-null float64
8.467              3055 non-null float64
0.013              409 non-null float64
0.9                3055 non-null float64
0.10               3055 non-null float64
V (Johnson)        3055 non-null object
8.245              389 non-null float64
Unnamed: 52        0 non-null float64
0.11               389 non-null float64
Unnamed: 54        3008 non-null float64
Unnamed: 55        2934 non-null float64
Unnamed: 56        2872 non-null float64
Unnamed: 57        3008 non-null float64
Unnamed: 58        3025 non-null float64
Unnamed: 59        2835 non-null float64
Unnamed: 60        2273 non-null float64
Unnamed: 61        2212 non-null float64
Unnamed: 62        2832 non-null float64
Unnamed: 63        2768 non-null float64
Unnamed: 64        2872 non-null float64
Unnamed: 65        2824 non-null float64
Unnamed: 66        2764 non-null float64
Unnamed: 67        2871 non-null float64
Unnamed: 68        3010 non-null float64
2014-05-14         3142 non-null object
dtypes: float64(56), int64(6), object(8)
memory usage: 1.7+ MB

In [124]:
df[:10]

,333,HD 132406,b,Radial Velocity,1,974.00000000,39.00000000,-39.00000000,0,1.980000,...,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,2014-05-14
0,334,HD 132563,b,Radial Velocity,1,1544.000,34.000,-34.000,0.0,2.620,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-05-14
1,335,HD 133131 A,b,Radial Velocity,2,649.000,3.000,-3.000,0.0,1.440,...,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0,2016-09-08
2,336,HD 133131 A,c,Radial Velocity,2,3568.000,1084.000,-1084.000,0.0,4.490,...,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0,2016-09-08
3,337,HD 133131 B,1,Radial Velocity,2,5769.000,831.000,-831.000,0.0,6.150,...,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0,2016-09-08
4,338,HD 134987,b,Radial Velocity,2,258.190,0.070,-0.070,0.0,0.810,...,0.07,-0.04,0.0,0.0,1.25,0.04,-0.04,0.0,0.0,2014-05-14
5,339,HD 134987,c,Radial Velocity,2,5000.000,400.000,-400.000,0.0,5.800,...,0.07,-0.04,0.0,0.0,1.25,0.04,-0.04,0.0,0.0,2014-05-14
6,340,HD 136418,b,Radial Velocity,1,464.300,3.200,-3.200,0.0,1.320,...,0.09,-0.09,0.0,0.0,3.40,0.10,-0.10,0.0,0.0,2014-05-14
7,341,HD 137388 A,b,Radial Velocity,1,330.000,2.000,-4.000,0.0,0.890,...,NaN,NaN,0.0,0.0,0.82,NaN,NaN,0.0,0.0,2014-05-14
8,342,HD 13908,b,Radial Velocity,2,19.382,0.006,-0.006,0.0,0.154,...,0.04,-0.04,0.0,0.0,1.67,0.10,-0.10,0.0,0.0,2014-05-14
9,343,HD 13908,c,Radial Velocity,2,931.000,17.000,-17.000,0.0,2.030,...,0.04,-0.04,0.0,0.0,1.67,0.10,-0.10,0.0,0.0,2014-05-14